html {
    font-size: 14px;
    
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.blog-header{
    margin-top: 7rem;
    max-width: 700px;
    
}

@media (max-width: 768px){
    .blog-header{
        margin-top: 8rem;
    }
}

.container{
    max-width: 960px;
    
}

.team{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 2rem;
}

.card-deck .card{
    min-width: 250px;
    
}

.card-text{
    padding-top: 1rem;
    
}

.card-block{
    min-height: 250px;
    
}

.active{
    border-bottom: 1px solid black;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: #fafafa; 
}


.feed {
    margin-top: 20px; 
}

.card {
    border: none; 
    border-radius: 10px;
}